<p>Liste des réservation </p>

<table>
  <thead>
      <tr>
				<th> Date </th>
				<th> Chambre </th>
				<th> Nom du client </th>
				<th> Email </th>
				<th> Demande spécial </th>
				<th> Action </th>
				<th></th>
				<th> Created</th>
      </tr>
  </thead>

	
	<tbody>
		<% @reservations.each do |reservation| %>
			<tr>
				<td><%= reservation.date %> </td>
				<td><%= reservation.room %> </td>
				<td><%= reservation.client_id %> </td>
				<td><%= reservation.client_email %> </td>
				<td><%= reservation.client_request %> </td>
				<td><button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Voir la réservation', reservation_path(reservation), class:"text-info"%> </button></td>
				<td><button type="button" class="btn btn-sm btn-outline-danger"><%= link_to 'Annulé la réservation', reservation_path(reservation), method: :delete, data:{confirm: "Ëtes-vous sur? "} , class:"text-danger"%></button></td>
					<td><%= time_ago_in_words(reservation.created_at) %></td>
			</tr>
		<% end %>
	</tbody>	
</table>

<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Administration', admin_index_path %> </button>