<p>Liste des réservation </p>

<table>
  <thead>
      <tr>
				<th> Date </th>
				<th> Chambre </th>
				<th> Nom du client </th>
				<th> Email </th>
				<th> Demande spécial </th>
				<th> Action </th>
      </tr>
  </thead>

	
	<tbody>
		<% @reservations.each do |reservation| %>
			<tr>
				<td><%= reservation.date %> </td>
				<td><%= reservation.room %> </td>
				<td><%= reservation.client_id %> </td>
				<td><%= reservation.client_email %> </td>
				<td><%= reservation.client_request %> </td>
				<td>
					<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Voir la réservation', reservation_path(reservation)%> </button>
					<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Annulé la réservation', reservation_path(reservation), method: :delete, data:{confirm: "Ëtes-vous sur? "} %></button>
				</td>
			</tr>
		<% end %>
	</tbody>	
</table>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Administration', admin_index_path %> </button>