<h1> Détail de la réservation </h1>


 Date <%= @reservation.date %> <br/>
 Chambre <%= @reservation.room %><br/>
 Nom du client: <%= @reservation.client_id %><br/>
Email du client: <%= @reservation.client_email %><br/>
Demande Spécial: <%= @reservation.client_request %><br/>

<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Modifié la réservation', edit_reservation_path(@reservation) %></button>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Retour aux réservations', reservations_path%></button>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Administration', admin_index_path %> </button>