<h1> Détail de la réservation </h1>


 Date <%= @reservation.date %> <br/>
 Chambre <%= @reservation.room %><br/>
 Nom du client: <%= @reservation.client_id %><br/>
Email du client: <%= @reservation.client_email %><br/>
Demande Spécial: <%= @reservation.client_request %><br/>